.calculator_body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(121, 223, 243);
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background: rgb(31, 27, 27);
}

form input{
  border: none;
  outline: none;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: aqua;
  margin: 2px;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover{
  background-color: rgb(250, 251, 250);
}


form .screen{
  display: flex;
  align-items: flex-end;
  margin: 5px 0px 20px 0px;

}

form .screen input{
  text-align: center;
  flex: 1;
  font-size: 14px;
  padding: 5px 10px;
  color: black;
  background: white;
  font-size: 24px;
  border: 2px solid rebeccapurple;
}

form .equal{
  width: 123px;
}


